table {
    border-collapse: collapse;
    width: 100%;
    
  }
   th {
    text-align: start;

}
  
  th, td {
    padding: 8px;
    text-align: start;

  }
  
  
  
  tr:hover {
    background: #d1d1d1;
  }