table {
    border-collapse: collapse;
    width: 100%;

  }
   th {
    text-align: start;

}
  
  th, td {
      font-size: 13px;
    cursor: pointer;
    padding: 10px;
    text-align: start;
    width: 33.3333%;
  }
  
  
  tr{
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
    border-left:  3px solid transparent;
    &:hover {
        border-left: 3px solid #3a97c4;  
        background: #d1d1d1;
      }
  }
  
